<div class="mat-typography">
  <h1>Page H1 (Roboto)</h1>
  <span>Icon: </span><mat-icon>sentiment_very_satisfied</mat-icon>
  <button mat-raised-button color="primary" (click)="openDialog()">Open dialog</button>

  <div fxLayout="row" fxLayoutAlign="space-around">
    <div>
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Standard form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>account_circle</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Fill form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>home</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>lock</mat-icon>
              <mat-hint>Somthing</mat-hint>
            </mat-form-field>
          </p>
        
          
    </div>  
    <div>
        <p><mat-form-field>
            <mat-label>Favorite food</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
  </div>

<hr>

<mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
                <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" optional>
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button color="warn" (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>

<hr/>

<div myCdkOverlayContainer class="cdk-overlay-container"></div>
<!-- TODO: Handle cdk-live-announcer-element so that it is inside the shadow dom-->
</div>